<section class="gallery-item">

  <li>
    <div class="current-item" ng-if="!galleryItemCtrl.showEditGallery">
        <span class="item-label">name:</span>
        <span>{{ galleryItemCtrl.gallery.name }}</span>
        <span class="item-label">description:</span>
        <span>{{ galleryItemCtrl.gallery.desc }}</span>
    </div>

    <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>
  </li>
  <button class="delete-btn" ng-click="galleryItemCtrl.deleteGallery()">delete</button>
  <button class="edit-btn" ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">edit</button>
</section>
