<section class="edit">
  <form class="edit-gallery"
    name="editGallery"
    ng-submit="editGalleryCtrl.updateGallery()"
    novalidate>

    <fieldset>
      <span class="item-label-name">name:</span>
      <input name="name" class="name-input" ng-model="editGalleryCtrl.gallery.name">
    </fieldset>

    <fieldset>
      <span class="item-label-desc">description:</span>
      <input name="desc" class="desc-input" ng-model="editGalleryCtrl.gallery.desc">
    </fieldset>

    <button type="submit" class="btn-std">update</button>
  </form>
</section>
