<section class="landing">
  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup></signup>
      <a href="/#!/join#login"
        ng-click="landingCtrl.showSignup=false">
        sign in here.
      </a>
      <p>already a member?</p>
    </div>
  </div>

  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <login></login>
      <a href="/#!/join#signup"
        ng-click="landingCtrl.showSignup=true">
        sign up here.
      </a>
      <p>want to signup?</p>
    </div>
  </div>
</section>

<section class="test-section">
  <div class="accordion-test">
    <uib-accordion>
      <p uib-accordion-group class="panel-default" heading="About">
        Cfgram is an app that allows you to upload images and created galleries. Once you have sign up, you can create a gallery by providing a name and description. When you create multiple galleries, you can select which gallery to upload images to. For images, you can include a name and a description as well.
      </p>
      <p uib-accordion-group class="panel-default" heading="Team">
        Cfgram was created by the teachers and students at Code Fellows.
      </p>
    </uib-accordion>
  </div>
</section>
